h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: "微软雅黑";
}

.login {
  width: 600px;
  margin: 30px auto 0;
  padding: 20px;
  background-color: #fff;
  /* border: 10px solid grey; */
  border-radius: 10px ;
  border-style: groove;
}

.login .radio {
  width: 50%;
  margin: 20px auto;
}
